In [ ]:
import findspark
findspark.init('/home/ubuntu/spark-2.1.1-bin-hadoop2.7')
import pyspark
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('FluPrediction').getOrCreate()

In [64]:
Flu = spark.read.format("csv").option("header", "true").option("delimiter", ";").load("Data/FluView.csv")

Area = spark.read.format("csv").option("header", "true").option("delimiter", "\t").load("Data/Area.csv")
Income = spark.read.format("csv").option("header", "true").load("Data/Income.csv")
Health = spark.read.format("csv").option("header", "true").option("delimiter", ";").load("Data/HealthCare.csv")
Virus = spark.read.format("csv").option("header", "true").load("Data/typeVirus.csv")
Population = spark.read.format("csv").option("header", "true").option("delimiter", "\t").load("Data/population.csv")

In [25]:
Flu.show(n=5) 
Flu.columns

+---------+----------------+-----------+----+-------+
|STATENAME|ACTIVITYESTIMATE|    WEEKEND|WEEK| SEASON|
+---------+----------------+-----------+----+-------+
|  Alabama|     No Activity|Oct-04-2003|  40|2003-04|
|  Alabama|     No Activity|Oct-11-2003|  41|2003-04|
|  Alabama|     No Activity|Oct-18-2003|  42|2003-04|
|  Alabama|  Local Activity|Oct-25-2003|  43|2003-04|
|  Alabama|        Sporadic|Nov-01-2003|  44|2003-04|
+---------+----------------+-----------+----+-------+
only showing top 5 rows

['STATENAME', 'ACTIVITYESTIMATE', 'WEEKEND', 'WEEK', 'SEASON']

In [26]:
Area.show(n=5) 
Area.columns

+----------+-------+
| STATENAME|   AREA|
+----------+-------+
|   Alabama| 135767|
|    Alaska|1723337|
|   Arizona| 295234|
|  Arkansas| 137732|
|California| 423967|
+----------+-------+
only showing top 5 rows

['STATENAME', 'AREA']

In [27]:
Income.show(n=5) 
Income.columns

+---+----------+------+-------+
|_c0| STATENAME|INCOME| SEASON|
+---+----------+------+-------+
|  2|   Alabama| 51113|2017-18|
|  3|    Alaska| 72231|2017-18|
|  4|   Arizona| 61125|2017-18|
|  5|  Arkansas| 48829|2017-18|
|  6|California| 69759|2017-18|
+---+----------+------+-------+
only showing top 5 rows

['_c0', 'STATENAME', 'INCOME', 'SEASON']

In [28]:
Health.show(n=5) 
Health.columns

+----------+-----------+--------------+--------------+-----------------+
| STATENAME|All persons|Under 65 years|Under 18 years|65 years and over|
+----------+-----------+--------------+--------------+-----------------+
|   Alabama|       84,6|          82,3|          91,1|             98,5|
|    Alaska|       85,2|          82,9|          91,8|             99,8|
|   Arizona|         81|          79,3|          83,5|             96,5|
|  Arkansas|         82|          79,3|          86,3|             97,3|
|California|       81,6|          78,6|          91,7|               98|
+----------+-----------+--------------+--------------+-----------------+
only showing top 5 rows

['STATENAME',
 'All persons',
 'Under 65 years',
 'Under 18 years',
 '65 years and over']

In [29]:
Virus.show(n=5) 
Virus.columns

+---+----+-------+---+-----+---+---+---+---+----+---+---+
|_c0|WEEK| SEASON|AH3|AH1N1|  A|BVL|BYL|  B|H3N2| AU|AH1|
+---+----+-------+---+-----+---+---+---+---+----+---+---+
|  1|  40|2018-19| 11|   29|  8|  7| 11|  0|   0|  0|  0|
|  2|  41|2018-19| 11|   49|  8|  3|  5|  5|   0|  0|  0|
|  3|  42|2018-19| 18|   48| 13|  1| 12|  1|   0|  0|  0|
|  4|  43|2018-19| 33|   73|  2|  0| 12|  2|   0|  0|  0|
|  5|  44|2018-19| 20|   77|  3|  1|  8|  1|   0|  0|  0|
+---+----+-------+---+-----+---+---+---+---+----+---+---+
only showing top 5 rows

['_c0',
 'WEEK',
 'SEASON',
 'AH3',
 'AH1N1',
 'A',
 'BVL',
 'BYL',
 'B',
 'H3N2',
 'AU',
 'AH1']

In [30]:
Population.show(n=5) 
Population.columns

+----------+--------+-------+
| STATENAME|     POP| SEASON|
+----------+--------+-------+
|   Alabama| 4503491|2003-04|
|    Alaska|  648414|2003-04|
|   Arizona| 5510364|2003-04|
|  Arkansas| 2724816|2003-04|
|California|35253159|2003-04|
+----------+--------+-------+
only showing top 5 rows

['STATENAME', 'POP', 'SEASON']

In [33]:
Flu.describe().show()
Area.describe().show()
Income.describe().show()
Health.describe().show()
Virus.describe().show()
Population.describe().show()

+-------+---------+----------------+-----------+------------------+-------+
|summary|STATENAME|ACTIVITYESTIMATE|    WEEKEND|              WEEK| SEASON|
+-------+---------+----------------+-----------+------------------+-------+
|  count|    29104|           29104|      29104|             29104|  29104|
|   mean|     null|            null|       null|24.787073941726224|   null|
| stddev|     null|            null|       null| 17.88996084805653|   null|
|    min|  Alabama|  Local Activity|Apr-01-2006|                 1|2003-04|
|    max|  Wyoming|      Widespread|Sep-26-2009|                 9|2018-19|
+-------+---------+----------------+-----------+------------------+-------+

+-------+---------+------------------+
|summary|STATENAME|              AREA|
+-------+---------+------------------+
|  count|       57|                57|
|   mean|     null|154560.36842105264|
| stddev|     null|248208.14633716136|
|    min|  Alabama|            104656|
|    max|  Wyoming|              9998|
+-------+---------+------------------+

+-------+------------------+---------+------------------+-------+
|summary|               _c0|STATENAME|            INCOME| SEASON|
+-------+------------------+---------+------------------+-------+
|  count|               816|      816|               816|    816|
|   mean|             417.0|     null|51651.013480392154|   null|
| stddev|240.30696116180673|     null| 9347.196205499946|   null|
|    min|                10|  Alabama|             32002| 2003-4|
|    max|                99|  Wyoming|             83382|2017-18|
+-------+------------------+---------+------------------+-------+

+-------+---------+-----------------+--------------+------------------+------------------+
|summary|STATENAME|      All persons|Under 65 years|    Under 18 years| 65 years and over|
+-------+---------+-----------------+--------------+------------------+------------------+
|  count|       51|               52|            52|                52|                52|
|   mean|     null|86.33333333333333|          82.0|              87.5| 98.66666666666667|
| stddev|     null|4.412104562073146|           2.0|3.5355339059327378|0.5773502691896258|
|    min|  Alabama|             75,4|          72,8|              81,7|              96,5|
|    max|  Wyoming|             95,9|          95,2|              97,9|              99,9|
+-------+---------+-----------------+--------------+------------------+------------------+

+-------+-----------------+------------------+-------+------------------+------------------+------------------+-----------------+------------------+-----------------+-------------------+------------------+------------------+
|summary|              _c0|              WEEK| SEASON|               AH3|             AH1N1|                 A|              BVL|               BYL|                B|               H3N2|                AU|               AH1|
+-------+-----------------+------------------+-------+------------------+------------------+------------------+-----------------+------------------+-----------------+-------------------+------------------+------------------+
|  count|              827|               827|    827|               827|               827|               827|              827|               827|              827|                827|               827|               827|
|   mean|            414.0|26.533252720677147|   null|239.71825876662635|299.41519434628975|19.663845223700122|             29.5|             98.03|59.68923821039903|0.44014510278113667|0.9987908101571947|17.088270858524787|
| stddev|238.8786302706879|15.161912087461774|   null| 540.0469862912779| 793.5078471034432|49.923119452799945|39.27073916765344|172.80014045918352|104.9855930057322|  4.695032043225055|7.5572871677025235| 74.44611093730327|
|    min|                1|                 1| 2003-4|                 0|                 0|                 0|                0|                 0|                0|                  0|                 0|                 0|
|    max|               99|                 9|2018-19|               997|                NA|                98|               NA|                NA|               98|                 94|                 9|                98|
+-------+-----------------+------------------+-------+------------------+------------------+------------------+-----------------+------------------+-----------------+-------------------+------------------+------------------+

+-------+---------+-----------------+-------+
|summary|STATENAME|              POP| SEASON|
+-------+---------+-----------------+-------+
|  count|      816|              816|    816|
|   mean|     null|6071396.414215687|   null|
| stddev|     null|6819471.360813925|   null|
|    min|  Alabama|         10001284|2003-04|
|    max|  Wyoming|          9995915|2018-19|
+-------+---------+-----------------+-------+

In [34]:
Flu.printSchema()
Area.printSchema()
Income.printSchema()
Health.printSchema()
Virus.printSchema()
Population.printSchema()

root
 |-- STATENAME: string (nullable = true)
 |-- ACTIVITYESTIMATE: string (nullable = true)
 |-- WEEKEND: string (nullable = true)
 |-- WEEK: string (nullable = true)
 |-- SEASON: string (nullable = true)

root
 |-- STATENAME: string (nullable = true)
 |-- AREA: string (nullable = true)

root
 |-- _c0: string (nullable = true)
 |-- STATENAME: string (nullable = true)
 |-- INCOME: string (nullable = true)
 |-- SEASON: string (nullable = true)

root
 |-- STATENAME: string (nullable = true)
 |-- All persons: string (nullable = true)
 |-- Under 65 years: string (nullable = true)
 |-- Under 18 years: string (nullable = true)
 |-- 65 years and over: string (nullable = true)

root
 |-- _c0: string (nullable = true)
 |-- WEEK: string (nullable = true)
 |-- SEASON: string (nullable = true)
 |-- AH3: string (nullable = true)
 |-- AH1N1: string (nullable = true)
 |-- A: string (nullable = true)
 |-- BVL: string (nullable = true)
 |-- BYL: string (nullable = true)
 |-- B: string (nullable = true)
 |-- H3N2: string (nullable = true)
 |-- AU: string (nullable = true)
 |-- AH1: string (nullable = true)

root
 |-- STATENAME: string (nullable = true)
 |-- POP: string (nullable = true)
 |-- SEASON: string (nullable = true)

In [62]:
from pyspark.sql.types import (StructField,StringType,IntegerType,StructType,FloatType)

In [44]:
data_schema = [StructField('STATENAME',StringType(),True),
              StructField('ACTIVITYESTIMATE',StringType(),True),
              StructField('WEEKEND',StringType(),True),
              StructField('WEEK',IntegerType(),True),
              StructField('SEASON',StringType(),True)]

final_struct = StructType(fields=data_schema)

Flu = spark.read.format("csv").option("header", "true").option("delimiter", ";").schema(final_struct).load("Data/FluView.csv") 

Flu.printSchema()

root
 |-- STATENAME: string (nullable = true)
 |-- ACTIVITYESTIMATE: string (nullable = true)
 |-- WEEKEND: string (nullable = true)
 |-- WEEK: integer (nullable = true)
 |-- SEASON: string (nullable = true)

In [50]:
data_schema_Area = [StructField('STATENAME',StringType(),True),
              StructField('AREA',IntegerType(),True)]

final_struct_Area = StructType(fields=data_schema_Area)

Area = spark.read.format("csv").option("header", "true").option("delimiter", "\t").schema(final_struct_Area).load("Data/Area.csv") 

Area.printSchema()
Area.show(n=5)

root
 |-- STATENAME: string (nullable = true)
 |-- AREA: integer (nullable = true)

+----------+-------+
| STATENAME|   AREA|
+----------+-------+
|   Alabama| 135767|
|    Alaska|1723337|
|   Arizona| 295234|
|  Arkansas| 137732|
|California| 423967|
+----------+-------+
only showing top 5 rows

In [53]:
data_schema_income = [StructField('STATENAME',StringType(),True),
              StructField('_c0',StringType(),True),
              StructField('INCOME',IntegerType(),True),
              StructField('SEASON',StringType(),True)]

final_struct_income = StructType(fields=data_schema_income)

Income = spark.read.format("csv").option("header", "true").schema(final_struct_income).load("Data/Income.csv") 

Income.printSchema()
Income.show(n=5)

root
 |-- STATENAME: string (nullable = true)
 |-- _c0: string (nullable = true)
 |-- INCOME: integer (nullable = true)
 |-- SEASON: string (nullable = true)

+---------+----------+------+-------+
|STATENAME|       _c0|INCOME| SEASON|
+---------+----------+------+-------+
|        2|   Alabama| 51113|2017-18|
|        3|    Alaska| 72231|2017-18|
|        4|   Arizona| 61125|2017-18|
|        5|  Arkansas| 48829|2017-18|
|        6|California| 69759|2017-18|
+---------+----------+------+-------+
only showing top 5 rows

In [82]:
Health = spark.read.format("csv").option("header", "true").option("delimiter", ";").load("Data/HealthCare.csv")

from pyspark.sql.functions import *
Health = Health.withColumn('65 years and over',regexp_replace('65 years and over', ',', '.').cast('float'))
Health = Health.withColumn('Under 65 years',regexp_replace('Under 65 years', ',', '.').cast('float'))
Health = Health.withColumn('Under 18 years',regexp_replace('Under 18 years', ',', '.').cast('float'))
Health = Health.withColumn('All persons',regexp_replace('All persons', ',', '.').cast('float'))

Health.printSchema()

Health = Health.withColumnRenamed('All persons', 'HealthCare_All')
Health = Health.withColumnRenamed('Under 65 years', 'HealthCare_Under65')
Health = Health.withColumnRenamed('Under 18 years', 'HealthCare_Under18')
Health = Health.withColumnRenamed('65 years and over', 'HealthCare_Over65')

Health.show(n=5)

root
 |-- STATENAME: string (nullable = true)
 |-- All persons: float (nullable = true)
 |-- Under 65 years: float (nullable = true)
 |-- Under 18 years: float (nullable = true)
 |-- 65 years and over: float (nullable = true)

+----------+--------------+------------------+------------------+-----------------+
| STATENAME|HealthCare_All|HealthCare_Under65|HealthCare_Under18|HealthCare_Over65|
+----------+--------------+------------------+------------------+-----------------+
|   Alabama|          84.6|              82.3|              91.1|             98.5|
|    Alaska|          85.2|              82.9|              91.8|             99.8|
|   Arizona|          81.0|              79.3|              83.5|             96.5|
|  Arkansas|          82.0|              79.3|              86.3|             97.3|
|California|          81.6|              78.6|              91.7|             98.0|
+----------+--------------+------------------+------------------+-----------------+
only showing top 5 rows

In [84]:
data_schema_virus = [StructField('_c0',StringType(),True),
              StructField('WEEK',IntegerType(),True),
              StructField('SEASON',StringType(),True),
              StructField('AH3',IntegerType(),True),
              StructField('AH1N1',IntegerType(),True),
              StructField('A',IntegerType(),True),
              StructField('BVL',IntegerType(),True),
              StructField('BYL',IntegerType(),True),
              StructField('B',IntegerType(),True),
              StructField('H3N2',IntegerType(),True),
              StructField('AU',IntegerType(),True),
              StructField('AH1',IntegerType(),True)]

final_struct_virus = StructType(fields=data_schema_virus)
Virus = spark.read.format("csv").option("header", "true").schema(final_struct_virus).load("Data/typeVirus.csv")

Virus.printSchema()

Virus = Virus.withColumnRenamed('AH3', 'TypeA_subH3')
Virus = Virus.withColumnRenamed('AH1N1', 'TypeA_subH1N1')
Virus = Virus.withColumnRenamed('A', 'TypeA')
Virus = Virus.withColumnRenamed('AU', 'TypeA_subU')
Virus = Virus.withColumnRenamed('AH1', 'TypeA_subH1')
Virus = Virus.withColumnRenamed('H3N2', 'TypeA_subH3N2')
Virus = Virus.withColumnRenamed('B', 'TypeB')
Virus = Virus.withColumnRenamed('BVL', 'TypeB_subVL')
Virus = Virus.withColumnRenamed('BYL', 'TypeB_subYL')

Virus.show(n=5)

root
 |-- _c0: string (nullable = true)
 |-- WEEK: integer (nullable = true)
 |-- SEASON: string (nullable = true)
 |-- AH3: integer (nullable = true)
 |-- AH1N1: integer (nullable = true)
 |-- A: integer (nullable = true)
 |-- BVL: integer (nullable = true)
 |-- BYL: integer (nullable = true)
 |-- B: integer (nullable = true)
 |-- H3N2: integer (nullable = true)
 |-- AU: integer (nullable = true)
 |-- AH1: integer (nullable = true)

+---+----+-------+-----------+-------------+-----+-----------+-----------+-----+-------------+----------+-----------+
|_c0|WEEK| SEASON|TypeA_subH3|TypeA_subH1N1|TypeA|TypeB_subVL|TypeB_subYL|TypeB|TypeA_subH3N2|TypeA_subU|TypeA_subH1|
+---+----+-------+-----------+-------------+-----+-----------+-----------+-----+-------------+----------+-----------+
|  1|  40|2018-19|         11|           29|    8|          7|         11|    0|            0|         0|          0|
|  2|  41|2018-19|         11|           49|    8|          3|          5|    5|            0|         0|          0|
|  3|  42|2018-19|         18|           48|   13|          1|         12|    1|            0|         0|          0|
|  4|  43|2018-19|         33|           73|    2|          0|         12|    2|            0|         0|          0|
|  5|  44|2018-19|         20|           77|    3|          1|          8|    1|            0|         0|          0|
+---+----+-------+-----------+-------------+-----+-----------+-----------+-----+-------------+----------+-----------+
only showing top 5 rows

In [80]:
data_schema_pop = [StructField('STATENAME',StringType(),True),
              StructField('POP',IntegerType(),True),
              StructField('SEASON',StringType(),True)]

final_struct_pop = StructType(fields=data_schema_pop)

Population = spark.read.format("csv").option("header", "true").option("delimiter", "\t").schema(final_struct_pop).load("Data/population.csv")

Population.printSchema()
Population.show(n=5)

root
 |-- STATENAME: string (nullable = true)
 |-- POP: integer (nullable = true)
 |-- SEASON: string (nullable = true)

+----------+--------+-------+
| STATENAME|     POP| SEASON|
+----------+--------+-------+
|   Alabama| 4503491|2003-04|
|    Alaska|  648414|2003-04|
|   Arizona| 5510364|2003-04|
|  Arkansas| 2724816|2003-04|
|California|35253159|2003-04|
+----------+--------+-------+
only showing top 5 rows